<!DOCTYPE html>
<html ng-app='footballFactz'>
  <head>
    <meta charset="utf-8">
    <title></title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

    <div class="container">
      <div class="page-header">
        <h1>Football Fun Factz</h1>
        <h3>
          Study up before you take the
          <strong>QUIZ</strong>
        </h3>
      </div>
      <div ng-controller='ListController as list'>
        <form class="form-inline well well-sm clearfix">
          <span class="glyphicon glyphicon-search"></span>
          <input type="text" placeholder="Search..." class="form-control" ng-model='list.search'>
          <button class="btn btn-warning pull-right" ng-click='list.activateQuiz()'><strong>Start Quiz</strong></button>
        </form>
        <div ng-hide='list.quizActive'>
          <div class='row'>
            <div class='col-sum-6' ng-repeat='item in list.fbFactz | filter:list.search'>
              <div class="well well-sm">
                <div class="row">
                  <div class='col-md-6'>
                    <img ng-src="{{item.img_url}}" class="img-rounded img-responsive well-img">
                  </div>
                  <div class='col-md-6'>
                    <h4>{{item.type}}</h4>
                    <!-- <p>{{item.fact1}}</p>
                    <p>{{item.fact2}}</p>
                    <p>{{item.fact3}}</p> -->
                    <button type="button" name="button" class="btn btn-primary pull-center" data-toggle='modal' data-target='#fb-facts' ng-click='list.changeActiveFact(item)'>learn more</button>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
          <!-- modal -->
          <div class="modal" id="fb-facts">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h2 class="text-center">{{list.activeFact.type}}</h2>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-xs-8 col-xs-offset-2">
                        <img ng-src="{{list.activeFact.img_url}}" class="img-rounded img-responsive">
                    </div>
                  </div>
                </div>
                <div class="row top-buffer">
                  <div class="col-md-6 text-center col-md-offset-3">
                    <p><strong>Fact 1: </strong>{{list.activeFact.fact1}}</p>
                    <p><strong>Fact 2: </strong>{{list.activeFact.fact2}}</p>
                    <p><strong>Fact 3: </strong>{{list.activeFact.fact3}}</p>
                    <button type="button" class="btn btn-danger pull-right" data-dismiss='modal' name="button">close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>   <!-- end of modal -->

          <!-- beginning of quiz -->
          <div ng-controller='quizCtrl as quiz' ng-show='list.quizActive'>
            <div ng-hide='quiz.showResults'>
            <h1>Quiz</h1>
            <div>
              {{q.text}}
              {{q.possibilities}}
              <div class="row">
                <div class="col-xs-8">
                  <h2>Progress:</h2>
                  <div class="btn-toolbar">
                    <button class="btn btn-primary" ng-repeat='q in quiz.quizQuestions' ng-class="{'btn-info': q.selected !== null, 'btn-danger': q.selected === null}" ng-click="quiz.setActiveQuestion($index)">
                      <span class="glyphicon" ng-class="{'glyphicon-pencil': q.selected !== null, 'glyphicon-question-sign': q.selected === null}">
                      </span>
                    </button>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="row">
                    <h4>Legend:</h4>
                    <div class="col-sm-4">
                      <button class="btn btn-info">
                        <span class="glyphicon glyphicon-pencil"></span>
                      </button>
                      <p>Answered</p>
                    </div>
                    <div class="col-sm-4">
                      <button class="btn btn-danger">
                        <span class="glyphicon glyphicon-question-sign"></span>
                      </button>
                      <p>Unanswered</p>
                    </div>
                  </div>
                </div>
              </div>


                <div class="row" ng-hide="quiz.finalize">
                  <div class="alert alert-danger" ng-show="quiz.error">
                    Error! you have not answered all of the Questions
                    <button class="close" ng-click='quiz.error = false'>&times</button>
                  </div>
                  <h3>Questions:</h3>
                  <div class="well well-sm">
                    <div class="row">
                      <div class="col-xs-12">
                          <h4>{{quiz.activeQuestion+1 + '. ' + quiz.quizQuestions[quiz.activeQuestion].text}}</h4>

                          <!-- text based answers -->
                          <div class="row" ng-if="quiz.quizQuestions[quiz.activeQuestion].type === 'text'">
                            <div class="col-sm-6" ng-repeat='answer in quiz.quizQuestions[quiz.activeQuestion].possibilities'>
                              <h4 class="answer" ng-class="{'bg-info': $index === quiz.quizQuestions[quiz.activeQuestion].selected}" ng-click='quiz.selectAnswer($index)'>{{answer.answer}}</h4>
                            </div>
                          </div>
                          <!-- imaged based answers -->
                          <div class="row" ng-if="quiz.quizQuestions[quiz.activeQuestion].type === 'image'">
                            <div class="col-sm-6" ng-repeat='answer in quiz.quizQuestions[quiz.activeQuestion].possibilities'>
                              <div class="image-answer" ng-class="{'image-selected': $index === quiz.quizQuestions[quiz.activeQuestion].selected}" ng-click="quiz.selectAnswer($index)">
                                <img ng-src="{{answer.answer}}">
                              </div>
                            </div>
                          </div>
                      </div>

                    </div>
                  </div>
                  <button class="btn btn-warning" ng-click='quiz.questionAnswered()'>Continue</button>
                </div>
              </div>

              <div class="well well-sm" ng-show="quiz.finalize">
                <div class="row">
                  <div class="col-xs-12">
                    <h3>Are you sure you want to submit your answers?</h3>
                    <button class="btn btn-success" ng-click="quiz.finalizeAnswers()">Yes</button>
                    <button class="btn btn-danger" ng-click="quiz.finalize = false">No</button>
                  </div>
                </div>
              </div>

            </div>
            <div ng-show='quiz.showResults'>
              <div class="row">
                <div class="col-xs-8">
                  <h2>Results:</h2>
                  <div class="btn-toolbar">
                    <button class="btn"
                    ng-repeat='question in quiz.quizQuestions' ng-class="{'btn-success': question.correct, 'btn-danger': !question.correct}" ng-click='quiz.newSetActiveQuestion($index)'>
                    <span class="glyphicon" ng-class="{'glyphicon-ok': question.correct, 'glyphicon-remove': !question.correct}"></span>
                    </button>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="row">
                    <h4>Legend:</h4>
                    <div class="col-sm-4">
                      <button class="btn btn-success">
                        <span class="glyphicon glyphicon-ok"></span>
                      </button>
                      <p>Correct</p>
                    </div>
                    <div class="col-sm-4">
                      <button class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                      </button>
                      <p>Incorrect</p>
                    </div>
                  </div>
                </div>
              </div> <!--  end of results row -->

              <div class="row">
                <div class="col-xs-12">
                  <h4>{{ quiz.newActiveQuestion+1 +". " + quiz.quizQuestions[quiz.activeQuestion].text }}</h4>
                  <div class="row">
                    <div class="col-sm-6" ng-repeat="answer in quiz.quizQuestions[quiz.activeQuestion].possibilities">
                      <h4 class="answer" ng-class="quiz.getAnswerClass($index)">{{ answer.answer }}
                        <p class="pull-right" ng-show='$index !== quiz.correctAnswers[quiz.activeQuestion] && $index === quiz.quizQuestions[quiz.activeQuestion].selected'>Your Answer</p>
                        <p class="pull-right" ng-show='$index === quiz.correctAnswers[quiz.activeQuestion]'>Correct Answer</p>
                      </h4>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div> <!-- end of quiz -->

        </div> <!-- end of list controller-->


    </div> <!-- end of container -->



    <!-- APPLICATION SCRIPTS -->
    <script src="js/app.js"></script>
    <script src="js/controllers/list.js"></script>
    <script src="js/controllers/quiz.js"></script>
    <script src="js/factories/quizMetrics.js"></script>

    <!-- THIRD PARTY SCRIPTS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
